
      <ul class="nav navbar-nav">
        <li ><a href="/#home">Home</a></li>
        <li><a href="/#projects">Projects</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.google.com"><embed class="animationFaceBook" src="css/facebook.svg"></a></li>
        <li><a href="http://www.google.com"><embed class="animationFaceBook" src="css/linkedin.svg"></a></li>
        <li><a href="http://www.google.com"><embed class="animationFaceBook" src="css/github.svg"></a></li>
      </ul>